table {
  width: 100%;
}
h1 {
  display: inline-block;
}
.user-header .mat-icon {
  float: right;
  margin-left: 5px;
}

.user-header h1 {
  display: inline;
}

.user-header {
  margin-bottom: 10px;
}
