<button mat-raised-button (click)="goBack()" class="mb1"><mat-icon>arrow_back</mat-icon></button>
<div *ngIf="selectedRoutine" class="routine-details">
  <div class="routine-header">
    <div *ngIf="isEditing">
      <app-routine-form [selectedRoutine]="selectedRoutine"></app-routine-form>
    </div>
    <div *ngIf="!isEditing">
      <h1>{{selectedRoutine.name}}</h1>
      <mat-icon (click)="setEdit()">edit</mat-icon>
      <h3>{{selectedRoutine.description}}</h3>
      <div *ngFor="let template of selectedRoutine.exerciseArray">
        <mat-card>
          <h3>Exercise: {{template.exercise.name}}</h3>
          <p>Reps: {{template.reps}}</p>
          <p>Sets: {{template.sets}}</p>
          <p>Type: {{template.type}}</p>
          <p>Notes: {{template.notes}}</p>
        </mat-card>
      </div>

    </div>
  </div>
</div>
