table {
  width: 100%;
}
.mat-icon {
  cursor: pointer;
}
.full-width {
  width: 50%;
  margin-right: 10px;
}
.mb1 {
  margin-bottom: 5px;
}
.routine-header .mat-icon {
  float: right;
  margin-left: 5px;
}

.routine-header h1 {
  display: inline;
}

.routine-header {
  margin-bottom: 10px;
}
