table {
  width: 100%;
}
h1 {
  display: inline-block;
}
.exercise-header .mat-icon {
  float: right;
  margin-left: 5px;
}

.exercise-header h1 {
  display: inline;
}

.exercise-header {
  margin-bottom: 10px;
}
